// Additional colours
$off-white: #feffff;

// Override bootstrap default
$body-bg: $off-white;

//Navigation Variables
$content-width: 1000px;
$breakpoint: 700px;
$nav-height: 70px;
$nav-background: white;
$nav-font-color: black;
$link-hover-color: #2581DC;
